.wrapper {
    display: grid;
    place-items: center;
    min-height: 60px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 70%;
    height: 3px;
    border-radius: 5px;
    background: var(--volumeSlider);
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--volumeSlider);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--volumeSlider);
    cursor: pointer;
  }
  